# FRU 'presence' record to indicate whether FRU
# is active; used by edm visibility rules

record(bi, "$(P)$(R)$(id)Prs-Sts") {
  field(DESC, "Module presence")
  field(SCAN, "I/O Intr")
  field(DTYP, "MCHsensor")
  field(INP, "#B$(fruid) C0 N0 @$(link)+fpres")
  field(ZNAM, "Not present")
  field(ONAM, "Present")
  field(PINI, "YES")
}

# Vadatech 'hotswap' sensor, provides FRU M-state
record(mbbi, "$(P)$(R)$(id)MState-Sts") {
#  field(SCAN, "5 second")
  field(SCAN, "I/O Intr")
  field(DTYP, "MCHsensor")
  field(INP,  "#B$(fruid) C240 N1 @$(link)+hs")
  field(ZRVL, "0x00")
  field(ZRST, "Not Installed")
  field(ONVL, "0x01")
  field(ONST, "Not Installed")
  field(TWVL, "0x02")
  field(TWST, "Inactive")
  field(THVL, "0x04")
  field(THST, "Activation Request")
  field(FRVL, "0x08")
  field(FRST, "Activation In Progress")
  field(FVVL, "0x10")
  field(FVST, "Active")
  field(SXVL, "0x20")
  field(SXST, "Deactivation Request")
  field(SVVL, "0x40")
  field(SVST, "Deactivation In Progress")
  field(EIVL, "0x80")
  field(EIST, "Communication Lost")
}

record(ai, "$(P)$(R)$(id)FruId-Cte") {
  field(DESC, "Module type")
  field(VAL,  "$(fruid)")
  field(PINI, "YES")
}

record(stringin, "$(P)$(R)$(id)BoardManuf-Cte") {
  field(DESC, "Board manufacturer")
  field(SCAN, "I/O Intr")
  field(DTYP, "FRUinfo")
  field(INP, "#B$(fruid) C0 N0  @$(link)+bmf")
  field(PINI, "YES")
  field(FLNK, "$(P)$(R)$(id)BoardName-Cte")
}

record(stringin, "$(P)$(R)$(id)BoardName-Cte") {
  field(DESC, "Board product name")
  field(DTYP, "FRUinfo")
  field(INP, "#B$(fruid) C0 N0  @$(link)+bp")
  field(FLNK, "$(P)$(R)$(id)BoardSN-Cte")
}

record(stringin, "$(P)$(R)$(id)BoardSN-Cte") {
  field(DESC, "Board serial number")
  field(DTYP, "FRUinfo")
  field(INP, "#B$(fruid) C0 N0  @$(link)+bsn")
  field(FLNK, "$(P)$(R)$(id)BoardPN-Cte")
}

record(stringin, "$(P)$(R)$(id)BoardPN-Cte") {
  field(DESC, "Board part number")
  field(DTYP, "FRUinfo")
  field(INP, "#B$(fruid) C0 N0  @$(link)+bpn")
  field(FLNK, "$(P)$(R)$(id)ProdManuf-Cte")
}

record(stringin, "$(P)$(R)$(id)ProdManuf-Cte") {
  field(DESC, "Product manufacturer")
  field(DTYP, "FRUinfo")
  field(INP, "#B$(fruid) C0 N0  @$(link)+pmf")
  field(FLNK, "$(P)$(R)$(id)ProdName-Cte")
}

record(stringin, "$(P)$(R)$(id)ProdName-Cte") {
  field(DESC, "Product product name")
  field(DTYP, "FRUinfo")
  field(INP, "#B$(fruid) C0 N0  @$(link)+pp")
  field(FLNK, "$(P)$(R)$(id)ProdSN-Cte")
}

record(stringin, "$(P)$(R)$(id)ProdSN-Cte") {
  field(DESC, "Product serial number")
  field(DTYP, "FRUinfo")
  field(INP, "#B$(fruid) C0 N0  @$(link)+psn")
  field(FLNK, "$(P)$(R)$(id)ProdPN-Cte")
}

record(stringin, "$(P)$(R)$(id)ProdPN-Cte") {
  field(DESC, "Product part number")
  field(DTYP, "FRUinfo")
  field(INP, "#B$(fruid) C0 N0  @$(link)+ppn")
}

record(mbbo, "$(P)$(R)$(id)PowerCtl-Sel") {
  field(DESC, "Payload power control")
  field(DTYP, "MCHsensor")
  field(OMSL, "supervisory")
  field(OUT, "#B$(fruid) C0 N0  @$(link)+fru")
  field(ZRST, "Power off")
  field(ONST, "Power on")
}

record(ai, "$(P)$(R)$(id)Pwr") {
  field(DESC, "Steady state power draw")
  field(SCAN, "10 second")
  field(DTYP, "FRUinfo")
  field(INP, "#B$(fruid) C0 N0  @$(link)+pwr")
  field(EGU, "W")
}

