include "fru_common.db"

alias("$(dev):$(id)$(unit):P", "$(AREA)$(DIS)$(dev):Status-Cte")
alias("$(dev):$(id)$(unit):FRUID", "$(AREA)$(DIS)$(dev):FruId-Cte")
alias("$(dev):$(id)$(unit):BMANUF", "$(AREA)$(DIS)$(dev):BoardManuf-Cte")
alias("$(dev):$(id)$(unit):BPRODNAME", "$(AREA)$(DIS)$(dev):BoardName-Cte")
alias("$(dev):$(id)$(unit):BSN", "$(AREA)$(DIS)$(dev):BoardSN-Cte")
alias("$(dev):$(id)$(unit):BPARTNUMBER", "$(AREA)$(DIS)$(dev):BoardPN-Cte")
alias("$(dev):$(id)$(unit):PMANUF", "$(AREA)$(DIS)$(dev):ProdManuf-Cte")
alias("$(dev):$(id)$(unit):PPRODNAME", "$(AREA)$(DIS)$(dev):ProdName-Cte")
alias("$(dev):$(id)$(unit):PSN", "$(AREA)$(DIS)$(dev):ProdSN-Cte")
alias("$(dev):$(id)$(unit):PPARTNUMBER", "$(AREA)$(DIS)$(dev):ProdPN-Cte")
alias("$(dev):$(id)$(unit):POWERCTL", "$(AREA)$(DIS)$(dev):PowerCtl-Sel")

record(sseq, "$(AREA)$(DIS)$(dev):SoftRst-Cmd") {
  field(DESC, "Power cycle system")
  field(SELM, "All")
  field(PINI, "NO")
  #Set 'Restarting' State
  field(LNK1, "$(AREA)$(DIS)$(dev):SoftRstSts-Mon CA")
  field(DO1, "1")
  field(WAIT1, "Wait")
  #Send a shutdown command
  field(LNK2, "$(AREA)$(DIS)$(dev):PowerCtl-Sel CA")
  field(DO2, "0")
  field(WAIT2, "Wait")
  #Set 'Waiting for Power On' state
  field(LNK3, "$(AREA)$(DIS)$(dev):SoftRstSts-Mon CA")
  field(DO3, "2")
  field(WAIT3, "Wait")
  #After 15 seconds, send a start command
  field(DLY4, "15")
  field(LNK4, "$(AREA)$(DIS)$(dev):PowerCtl-Sel CA")
  field(DO4, "1")
  field(WAIT4, "Wait")
  #After 15 seconds, set 'Idle' state
  field(DLY5, "15")
  field(LNK5, "$(AREA)$(DIS)$(dev):SoftRstSts-Mon CA")
  field(DO5, "0")
  field(WAIT5, "Wait")
}
record(mbbo, "$(AREA)$(DIS)$(dev):SoftRstSts-Mon") {
  field(DESC, "Fru Power State")
  field(ZRST, "Idle")
  field(ONST, "Restarting")
  field(TWST, "Waiting for Power On")
}
