# ai sensor record
# DESC, EGU set by device support
record(ai, "$(P)$(R)$(prefix)$(attr)-Mon")
{
  field(DESC, "")
  field(SCAN, "I/O Intr")
  field(DTYP, "MCHsensor")
  field(INP, "#B$(fruid) C$(type) N$(sensinst) @$(link)+sens")
  field(PREC, "1")
  field(SDIS, "$(P)$(R)$(prefix)$(attr)$(sensinst)P.SEVR")
  field(DISV, "2")
  field(PINI, "YES")
}

# sensor 'presence' record to indicate whether sensor
# is active; used by edm visibility rules
record(bi, "$(P)$(R)$(prefix)$(attr)_P") {
  field(DESC, "Sensor presence")
  field(SCAN, "I/O Intr")
  field(DTYP, "MCHsensor")
  field(INP, "#B$(fruid) C$(type) N$(sensinst) @$(link)+spres")
  field(ZNAM, "Not present")
  field(ZSV,  "MAJOR")
  field(ONAM, "Present")
  field(PINI, "YES")
}
