include "system_common.db"

alias("$(dev):TYPE_RAW", "$(AREA)$(DIS)$(dev):MCHType-Cte")
alias("$(dev):DBG", "$(AREA)$(DIS)$(dev):DbgLvl-Sel")
alias("$(dev):ONLNSTAT", "$(AREA)$(DIS)$(dev):Online-Mon")
alias("$(dev):INIT", "$(AREA)$(DIS)$(dev):Init-Mon")
alias("$(dev):INITBYP", "$(AREA)$(DIS)$(dev):InitBypass-Cmd")
alias("$(dev):CONNECT", "$(AREA)$(DIS)$(dev):Connect-Cmd")
alias("$(dev):RESET", "$(AREA)$(DIS)$(dev):Rst-Cmd")
alias("$(dev):SENSOR_SCAN_PERIOD", "$(AREA)$(DIS)$(dev):SensorScanPeriod-Sel")
